# Preparation pour le modèle de prédiction

In [95]:
import pandas as pd
import matplotlib.pyplot as plt

# 1. On enlève les colonnes inutiles

In [96]:
df = pd.read_csv('data/kc_house_data_clean.csv')

In [97]:
df_drop = df.drop(['date', 'id', 'zipcode' , 'yr_built', 'yr_renovated', 'lat', 'long', 'sqft_living15', 'sqft_lot15' , 'sqft_above'  , 'sqft_basement' , 'sqft_lot'], axis=1)

In [98]:
df_drop

          price  bedrooms  bathrooms  surface  waterfront  view  grade
0      221900.0         3       1.00     1180           0     0      7
1      538000.0         3       2.25     2570           0     0      7
2      180000.0         2       1.00      770           0     0      6
3      604000.0         4       3.00     1960           0     0      7
4      510000.0         3       2.00     1680           0     0      8
...         ...       ...        ...      ...         ...   ...    ...
21597  360000.0         3       2.50     1530           0     0      8
21598  400000.0         4       2.50     2310           0     0      8
21599  402101.0         2       0.75     1020           0     0      7
21600  400000.0         3       2.50     1600           0     0      8
21601  325000.0         2       0.75     1020           0     0      7

[21602 rows x 7 columns]

In [99]:
df_drop.to_csv('data/kc_house_data_clean_model.csv', index=False)